.layout-con {
  display: flex;
  height: 100%;
  flex-direction: column;

  .layout-con-top {
    min-width: 1280px;
    height: 50px;
    background-color: #61676d;
  }
  .layout-con-main {
    min-width: 1280px;
    overflow-x: auto;
    flex-grow:1;
    max-height: 100%;
    overflow: auto;
    padding:10px 100px;
  }
  .layout-con-footer {
    min-width: 1280px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    background-color: #61676d;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
  }

}
