.main-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  .main-left {
    margin:0 40px 20px 0;
    padding: 0 5px;
    .main-left-p5 {
      margin: 5px;
      .left-title {
        height: 35px;
        margin-bottom: 10px;
        .title-text {
          display: inline-block;
          padding:5px;
          width: 50%;
          border-bottom: 2px solid red;
          font: 500 16px '微软雅黑';
        }
        .title-border {
          display: inline-block;
          width: 50%;height: 30px;
          vertical-align:bottom;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  .main-right {
    flex-grow:5;
    display: flex;
    //background: #e6f7ff;
    background: #f2f2f2;
    height: 600px;
    margin-bottom: 20px;
    .main-site-A {
      width: 50%;
      height: 35px;
      background: #ffffff;
      .site-title {
        padding: 0 10px;
        font-size: 16px;
      }
    }
    .main-site-B {
      width: 50%;
      height: 35px;
      background: #ffffff;
      .site-title {
        padding: 0 30px;
        font-size: 16px;
      }
    }
  }
}

.site-container {
  padding: 10px 10px 10px;
  .site-con-info {
    padding: 12px 0;
    .site-info-label {
      font: 600 12px '微软雅黑';
      display: inline-block;
      width: 30%;
    }
    .site-info-value {
      font: 400 12px '微软雅黑';
      color: #333333;
      vertical-align:middle;
      display: inline-block;
      width: 60%
    }
  }
}
